//Main colors
$dark-color: #242424;
$dark-color-secondary: #1a1a1a;
$light-color: #c4bebe;
$light-color-secondary: #fff;
$accent-color: #646cff;

$breakpoint-xl: 1440px;
$breakpoint-lg: 1044px;
$breakpoint-md: 780px;
$breakpoint-sm: 600px;

//Content width
$content-max-width: $breakpoint-xl;
$content-gap-xl: 40px;
$content-gap-sm: 16px;
$content-width-xl: $content-max-width - $content-gap-xl * 2;
$content-width-sm: $content-max-width - $content-gap-sm * 2;

$quiz-pl-xl: 8rem;
$quiz-pl-lg: 0;
